<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arto.costsmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="CM_001"
        android:theme="@style/AppTheme" >
        <activity
            android:name="arto.costsmanager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="arto.costsmanager.ActivityNewRecord"
            android:theme="@style/wide_dialog"
            android:label="@string/new_record"/>
          
          <activity 
              android:name="arto.costsmanager.ActivityItems"
              android:label="@string/app_name"/>
          
          <activity
              android:name="arto.costsmanager.ActivityNewItem"
              android:theme="@style/wide_dialog"
              android:label="@string/new_icitem"/>
          
        
    </application>

</manifest>
